#toc.button 
  width: 48px
  height: 48px
  z-index: 1024
  padding: 0
  position: fixed
  top: 1rem
  right: 1rem
  border: none
  box-shadow: none
  background: transparent

  
  #iconset
    margin-top: 0
    margin-left: 0
    width: 100%
    height: 100%
    
    // path 
    //   fill: @textColor;   
    //   transition: @transition
      
  &:hover 
    #iconset 
      path 
        fill: $red

nav#sidebar
  border: 2px solid $blue
  height: 100vh
  width: 33vw
  position: fixed
  top: 0
  right: 0
  z-index: 1023
  background: rgba($blue, 0.4)
  transform: translateX(100%)
  transition: transform 0.3s

  &.visible
    transform: translateX(0)    



.title.is-1
  font-weight: $weight-bold

.uppercase
  text-transform: uppercase

.grid-item 
  color: $white
  width: 33.333% 
  +mobile 
    width: 100% 
  
  &[size="2"] 
    width: 66.666% 
    +mobile 
      width: 100%

  &[size="3"] 
    width: 100%

  &[emphasis] 
    .box
      color: $red
      

  .box
    position: relative

  img
    width: 100%

  .text
    position: absolute
    width: 100%
    height: 100%
    border: 1px solid $red
    top: 0
    left: 0
    display: flex
    align-items: flex-end
    text-align: center
    pointer-events: none
    
    span
      position: absolute
      font-weight: $weight-bold
      flex: 0 1 auto
      // mix-blend-mode: difference
      +text-stroke($size: 1, $color: $black, $correction: 0)
      // +long-shadow($color: $white, $length: 128)
      // +stripes()
      // -webkit-background-clip: text
      // -webkit-text-fill-color: transparent


