
.grid-item 
  color: $white
  width: 33.333% 
  +mobile 
    width: 100% 
  
  &[size="2"] 
    width: 66.666% 
    +mobile 
      width: 100%

  &[size="3"] 
    width: 100%

  &[emphasis] 
    .box
      color: $red
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABVJREFUCB1jvFVf+Z8BCTAhsYlkAgC5MwLVUW+A4AAAAABJRU5ErkJggg==) repeat !important

  &[category="Architektur"] 
    .box
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23000000' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    .text
      text-shadow: 4px 4px 0px rgba($black,0.81), -6px -6px 0px rgba($black,0.81)

  &[category="Other"] 
    .box
      background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    .text
      text-shadow: 4px 4px 0px rgba($black,0.81), -6px -6px 0px rgba($black,0.81)


  &[category="Marke im Raum"] 
    .box
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    .text
      text-shadow: 4px 4px 0px rgba($black,0.81), -6px -6px 0px rgba($black,0.81)
  
  &[category="Produktdesign"] 
    .box
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Ehoundstooth%3C/title%3E%3Cg fill='%23000000' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 18h6l6-6v6h6l-6 6H0M24 18v6h-6M24 0l-6 6h-6l6-6M12 0v6L0 18v-6l6-6H0V0'/%3E%3C/g%3E%3C/svg%3E");
    .text
      text-shadow: 4px 4px 0px rgba($black,0.81), -6px -6px 0px rgba($black,0.81)

  .box
    position: relative

  img
    width: 100%

  .text
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    display: flex
    align-items: flex-end
    text-align: center
    pointer-events: none
    text-shadow: 4px 4px 0px rgba($black,0.81)
    
    span
      position: absolute
      font-weight: $weight-bold
      flex: 1 1 auto
      align-self: flex-end
      // mix-blend-mode: difference
      // +text-stroke($size: 1, $color: $black, $correction: 0)
      // +long-shadow($color: $white, $length: 8)
      
      // +stripes()
      // -webkit-background-clip: text
      // -webkit-text-fill-color: transparent

