$blue:    #88f1f4
$red:     #D1363B
$orange:  #FF906C
$yellow:  #FFD79B
$black:   #282828
$white:   #ECEAC9

// Add pink and its invert
$pink: #ffb3b3
$pink-invert: #fff

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $white
$primary-invert: $pink-invert
// Use the existing orange as the danger color
$danger: $orange

$light-bg-color:    $white
$dark-body-color:   $black
$base-body-color:   $black
$light-body-color:  $white
$active-color:      $red
$border-color:      $black

