{{ partial "header.html" . }}

{{ $paginator := .Paginate (where .Data.Pages "Type" "work") }}

<div class="grid showcase is-loading" {{ if .Paginator.HasNext }}data-next-url="{{ .Paginator.Next.URL }}"{{ end }}>
  {{ range $paginator.Pages }}
    <section class="grid-item section">
      <div class="container">
        <figure class="card">
          <a href="{{ .Permalink }}" class="card__image">
            <img src="{{ .Params.coverimage }}">
          </a>
          <figcaption class="card__caption">
            <h2 class="title is-3">
              <!-- <a href="{{ .Permalink }}">{{ .Title }}</a> -->
              {{ .Title }}
            </h2>
            <div class="card__description">
              <p>{{ .Params.excerpt }}</p>
            </div>
          </figcaption>
        </figure>
      </div>
    </section>
  {{ end }}
</div>

{{ partial "footer.html" . }}
