{{ partial "header.html" . }}
{{ partial "hero.html" . }}

{{ $paginator := .Paginate (where .Data.Pages "Type" "entry") }}

<div class="grid is-loading" {{ if .Paginator.HasNext }} data-next-url="{{ .Paginator.Next.URL }}" {{ end }}>
  {{ range $paginator.Pages }}

    <section 
      class="grid-item section"
      {{ with .Params.size }} size="{{ . }}" {{ end }} 
      {{ with .Params.emphasis }} emphasis="{{ . }}" {{ end }}
      {{ with .Params.category }} category="{{ . }}" {{ end }} >
      <div class="box">
        <div class="content">
          <a class="overlay" href="{{ .Permalink }}">
            <div class="text"> {{ .Title }} </div>  
          </a>  
          <img class="image" src="{{ index .Params.images 0 }}">
        </div>  
      </div>
    </section>
  {{ end }}
</div>

{{ partial "footer.html" . }}
