{{ partial "header.html" . }}
{{ partial "hero.html" . }}

{{ $paginator := .Paginate (where .Data.Pages "Type" "entry") }}

<div class="grid">
  {{ range $paginator.Pages }}

    <section 
      class="grid-item section"
      {{ with .Params.size }} size="{{ . }}" {{ end }} 
      {{ with .Params.emphasis }} emphasis="{{ . }}" {{ end }}
      {{ with .Params.category }} category="{{ . }}" {{ end }} >
      <a class="box" href="{{ .Permalink }}">
        <div class="content">
          <div class="overlay">
            <div class="text" > 
              {{ .Title }}
            </div>  
            </div>
          <img class="image" src="{{ index .Params.images 0 }}">
        </div>  
      </a>  
    </section>
  {{ end }}

 
</div>
 {{ if .Paginator.HasNext }} 
    <div id="next" class="container is-fluid">
      <a class="button" href="{{ .Paginator.Next.URL }}">next</a>
    </div>  
  {{ end }}
{{ partial "footer.html" . }}
